<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculador HD</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>

<body>
    <div id="maincontainer" class="m-4">

        <!-- TOASTS -->
        <div id="snackbar2" class="tostadas">
            Comenzando cálculos y grabación. Por favor, espere.</div> <!-- TODO:nofunciona -->
        <div id="snackbar" class="tostadas">
            Archivos grabados correctamente</div>
        <!-- FIN TOASTS -->

        <div class="mt-3">

            <div class="numeracion">1</div>
            <label class="mr-1 " for="btnseleccionar"> Seleccionar los archivos a tratar:</label>
            <button id="btnseleccionar" class="btn btn-primary btn-sm" onclick="fileChooser()">Seleccionar
                archivos</button>
        </div>
        <div class="mt-3">
            <div class="numeracion">2</div>
            <label class="mr-1 " for="btnsalida"> Seleccionar donde desea guardar los documentos generados:</label>
            <button id="btnsalida" class="btn btn-primary btn-sm" onclick="folderChooser()">Seleccionar carpeta</button>
        </div>
        <form class="mt-3" action="" onsubmit="event.preventDefault();">

            <div class="numeracion">3</div>
            <label>Seleccionar los archivos a generar :</label>
            <div class="mt-2 ps-5">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="horarios">
                    <label class="form-check-label" for="horarios">horarios</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input " type="checkbox" value="" id="diarios">
                    <label class="form-check-label" for="diarios">diarios</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="octohorarios">
                    <label class="form-check-label" for="octohorarios">octohorarios</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="estadisticos">
                    <label class="form-check-label" for="octohorarios">estadísticos</label>
                </div>
            </div>
            <button class="btn btn-success btn-sm m-1 mt-3" id="btnGenerar" onclick="generar()">
                Generar
            </button>

        </form>
        <hr>
        <div>

            <h2>Importante</h2>
            <p> Los archivos deben estar nombrados con las palabras "quinceminutales" u
                "horarios" además de llevar el nombre del contaminante en mayusculas.
                El nombre debe estar separado por guiones bajos o guiones medios
            </p>
            <img src="../assets/imgs/example3.png" class="border border-primary" alt="ejemplo de nombres">
            
            <p style="margin-top: 4px;">
                Los datos que hay dentro del archivo deben tener la primera columna que sea la "fecha hora", los
                datos separados por ";" y los decimales separados por ",". Recordar que para los
                octohorarios necesitamos 1 día extra de datos para realizar los cálculos. Los datos octohorarios deberán
                tener un dia extra del año anterior para realizar los cálculos correctamente.
            </p>
            <img src="../assets/imgs/example2.png" class="border border-primary" alt="ejemplo de contenido">

        </div>

    </div>
</body>
<script>

    const { dialog } = require('electron').remote;
    const { ipcRenderer } = require('electron');
    const utils = require('../assets/js/utils.js');
    const opers = require('../assets/js/opers.js');
    const createCsvWriter = require('csv-writer').createObjectCsvWriter; // movido a utils //TODO: ver si hace falta y si lo tenemos que borrar de utils
    const fs = require('fs');

    let fileList = null; // donde vamos a almacenar los archivos seleccionados   
    let filesData = null;  // donde guardamos los nombres de los archivos, ruta y contaminante
    let contaminantes = null; // aquí es donde guardamos todos los datos fusionados por contaminantes.   
    let outputDir = null; // url de la carpeta de salida

    // selecciona los archivos a tratar
    function fileChooser() {

        let selected = dialog.showOpenDialogSync({
            title: 'Seleccionar archivos',
            properties: ['openFile', 'multiSelections'],
            filters: [
                { name: 'texto', extensions: ['txt'] },
                { name: 'csv', extensions: ['csv'] }
            ]
        })

        if (selected != undefined) {
            fileList = selected;
        }
    }
    // selecciona la carpeta donde guardar el output
    function folderChooser() {

        let selected2 = dialog.showOpenDialogSync({
            title: 'Seleccionar carpeta',
            properties: ["openDirectory"]
        })

        if (selected2 != undefined) {
            outputDir = selected2;
        }
    }



    // genera los documentos 
    function generar() {

        if (!fileList || !outputDir) {

            dialog.showErrorBox("Error", "Debe haber seleccionado los archivos de entrada y la carpeta de salida")

        } else {

            /*     //TOAST Inicialización ====
                       let y = document.getElementById("snackbar2");
                       // Add the "show" class to DIV
                       y.classList.add("show");
                       // After 3 seconds, remove the show class from DIV
                       setTimeout(function () { y.classList.remove("show"); }, 1000);
                       // FIN TOAST
                       console.log("textooooooooo");
                       //require('electron').remote.getGlobal('setTimeout')(() => { console.log('done'); }, 2000);
                */


            /* // descomentar para pruebas de toasts con IPC       
            ipcRenderer.invoke("make-toast", document.getElementById("snackbar2"), 2000); */


            dialog.showMessageBox({
                type: "info",
                title: "Comienzo de procesado",
                message: `El procesado de calculos y la grabación va a comenzar. Puede tardar varios minutos. 
            Por favor, espere al mensaje de finalización`
            });





            let horarios = document.getElementById('horarios').checked;
            let diarios = document.getElementById('diarios').checked;
            let octohorarios = document.getElementById('octohorarios').checked;
            let estadisticos = document.getElementById('estadisticos').checked;


            // ======================================= LECTURA Y CALCULOS DE DATOS =====================================================

            /* Aquí cogemos la lista de archivos y creamos una lista de objetos donde hemos extraido
            el nombre, el tipo, los datos, etc.. */
            filesData = utils.extractFiles(fileList);

            //Ahora vamos a dividir las columnas porque en los archivos vienen junto los valores y las flags.
            filesData.forEach(file => {
                utils.splitColumns(file);
            });



            // Ahora vamos a extraer los quinceminutales y transformarlos a horarios
            // Aqui extraemos los archivos 15minutales
            let files15m = filesData.filter(file => file.type == "quinceminutales");
            if (files15m.length > 0) { // si tenemos archivos 15 minutales

                // Aqui pasamos los 15minutales a horarios.
                utils.transform15mTo60m(files15m) // No necesitamos guardar los datos retornados porque los cambios ya han sido aplicados a los datos originales
            }


            /* Ahora debemos fusionar todos los datos horarios para tener todos los horarios 
            en un mismo fichero pero clasificados por contaminantes..*/
            let datosHorarios = utils.mergeFilesByKeys(filesData);

            let datosDiarios = utils.horarioADiario(datosHorarios);

            let datosOctohorarios = utils.horaAOcto(datosHorarios); // TODO: cambiar esto y hacer que se generen los octohorarios solo si hay contaminantes de la lista de configuración.

            let datosEstadisticos = null;
            if (estadisticos == true) {
                datosEstadisticos = opers.calcEstad(datosHorarios, datosDiarios, datosOctohorarios);
                console.log('datosEstadisticos :>> ', datosEstadisticos);
            }




            // ======================================ESCRITURA DE DATOS A FICHEROS ====================================================

            // grabación de datos horarios
            if (horarios == true) { // si el usuario ha seleccionado la opción de "horarios", los grabamos

                datosHorarios.forEach(contaminante => { //TODO: agregar este ejemplo a los apuntes
                    let header = []
                    for (const [key, value] of Object.entries(contaminante.data[0])) {
                        header.push({ id: `${key}`, title: `${key}` })

                    }

                    const csvWriter = createCsvWriter({
                        path: `${outputDir}\\${contaminante.key}_horario.csv`,
                        header,
                        fieldDelimiter: ';'
                    });
                    csvWriter.writeRecords(contaminante.data)       // returns a promise
                        .then(() => {
                            console.log(`${contaminante.key}_horario.csv -- Escrito --`);
                        });
                });
            }

            //grabación de datos diarios
            if (diarios == true) {
                datosDiarios.forEach(contaminante => { //TODO: agregar este ejemplo a los apuntes
                    let header = []
                    for (const [key, value] of Object.entries(contaminante.data[0])) {
                        header.push({ id: `${key}`, title: `${key}` })

                    }

                    const csvWriter = createCsvWriter({
                        path: `${outputDir}\\${contaminante.key}_diario.csv`,
                        header,
                        fieldDelimiter: ';'
                    });
                    csvWriter.writeRecords(contaminante.data)       // returns a promise
                        .then(() => {
                            console.log(`${contaminante.key}_diario.csv -- Escrito --`);
                        });
                });
            }


            //grabación de datos octohorarios
            if (octohorarios == true) {
                datosOctohorarios.forEach(contaminante => { //TODO: agregar este ejemplo a los apuntes
                    let header = []
                    for (const [key, value] of Object.entries(contaminante.data[0])) {
                        header.push({ id: `${key}`, title: `${key}` })

                    }

                    const csvWriter = createCsvWriter({
                        path: `${outputDir}\\${contaminante.key}_octohorarios.csv`,
                        header,
                        fieldDelimiter: ';'
                    });
                    csvWriter.writeRecords(contaminante.data)       // returns a promise
                        .then(() => {
                            console.log(`${contaminante.key}_octohorarios.csv -- Escrito --`);
                        });
                });
            }

            // grabación de estadisticos
            if (estadisticos == true && datosEstadisticos != null) { // si el usuario ha seleccionado la opción de "horarios", los grabamos
                console.log('datosEstadisticos :>> ', datosEstadisticos);

                datosEstadisticos.forEach(contaminante => {
                    console.log('contaminante :>> ', contaminante);
                    let header = []
                    for (const [key, value] of Object.entries(contaminante.data[0])) {
                        header.push({ id: `${key}`, title: `${key}` })

                    }

                    const csvWriter = createCsvWriter({
                        path: `${outputDir}\\${contaminante.title}.csv`,
                        header,
                        fieldDelimiter: ';'
                    });
                    csvWriter.writeRecords(contaminante.data)       // returns a promise
                        .then(() => {
                            console.log(`${contaminante.title} -- Escrito --`);
                        });
                });
            }

            /*         //TOAST====
                           let x = document.getElementById("snackbar");
                           // Add the "show" class to DIV
                           x.classList.add("show");
                           // After 3 seconds, remove the show class from DIV
                           setTimeout(function () { x.classList.remove("show"); }, 1000); */
            dialog.showMessageBox({
                type: "info",
                title: "Finalizado",
                message: `El procesado ha terminado.
            Todos los archivos han sido generado correctamente en la carpeta de destino`
            });

        }


    } // fin función "generar".



</script>
<style>
    .numeracion {
        background-color: #f4ff9d;
        border-radius: 42px;
        border: 2px solid #868686;
        display: inline-block;
        padding: 3px 9px;
        color: #535353;
        font-family: Arial;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
    }

    .tostadas {
        display: none;
        /* Hidden by default. Visible on click */
        min-width: 250px;
        /* Set a default minimum width */
        margin-left: -125px;
        /* Divide value of min-width by 2 */
        background-color: rgb(2, 71, 0);
        /* Black background color */
        color: #fff;
        /* White text color */
        text-align: center;
        /* Centered text */
        border-radius: 2px;
        /* Rounded borders */
        padding: 16px;
        /* Padding */
        position: fixed;
        /* Sit on top of the screen */
        z-index: 1;
        /* Add a z-index if needed */
        left: 50%;
        /* Center the snackbar */
        bottom: 30px;
        /* 30px from the bottom */
    }

    /* Show the snackbar when clicking on a button (class added with JavaScript) */
    .show {
        display: block;
        /* Show the snackbar */
        /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
        However, delay the fade out process for 2.5 seconds */
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }


    /* Animations to fade the snackbar in and out */
    @-webkit-keyframes fadein {
        from {
            bottom: 0;
            opacity: 0;
        }

        to {
            bottom: 30px;
            opacity: 1;
        }
    }

    @keyframes fadein {
        from {
            bottom: 0;
            opacity: 0;
        }

        to {
            bottom: 30px;
            opacity: 1;
        }
    }

    @-webkit-keyframes fadeout {
        from {
            bottom: 30px;
            opacity: 1;
        }

        to {
            bottom: 0;
            opacity: 0;
        }
    }

    @keyframes fadeout {
        from {
            bottom: 30px;
            opacity: 1;
        }

        to {
            bottom: 0;
            opacity: 0;
        }
    }
</style>

</html>